<!DOCTYPE html>
<html>
<head>
    <title>QR Drop</title>
    <script>
        let sessionId = "[[${sessionId}]]";

        function checkFile() {
            fetch("/check/" + sessionId)
                .then(res => res.text())
                .then(data => {
                    if (data === "EXPIRED") {
                        alert("Session expired");
                        location.reload();
                    }
                    if (data !== "WAIT" && data !== "EXPIRED") {
                        window.location = "/download/" + data;
                    }
                });
        }

        setInterval(checkFile, 2000);
    </script>
</head>
<body>
<h2>Scan to Upload</h2>
<img th:src="'https://api.qrserver.com/v1/create-qr-code/?size=200x200&data=' + ${baseUrl} + '/upload/' + ${sessionId}" />

<p>Session expires in 5 minutes.</p>

</body>
</html>